body{
    background-color: lightgrey;
}
#page{
    width: 1200px;
    min-height: 1000px;
    background-color: rgb(185, 95, 95);
    margin:0 auto;
}
#top{
    width: 1200px;
    height: 200px;
    background-color: rgb(16, 4, 180);
}
#navi{
    width: 1200px;
    height: 50px;
    background-color: rgb(0, 0, 0);
}
#content{
    width: 1200px;
    height: 800px;
    background-color: rgb(0, 3, 163);
}
.navButton{
    width:299px;
    text-align: center;
    font-size: 16pt;
    height:50px;
    text-transform: uppercase;
    line-height: 2.4;
    background-color:rgb(44, 167, 216);
    color:white;
    float:left;
    margin-right: 1px;
}
.navButton.Butt{
    background-color:orange;
}
.navButton:hover{
        background-color: orange;
}
ul{
    list-style: none;
    margin: 0px;
    margin-left: -40px;
}
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
/*Šeit teksta animācija*/
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365FA0;
	font-size: 100px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

a:visited{
    color:red
}
/*Formas Pozicionēšana*/
.login{
    position:relative;
    width: 177px;
    height: 140px;
    background-color: white;
    margin: 0 auto;
    top: 200px;
}
.login{
    top:20px;
    margin-right: 20px;
    padding: 10px;
    background-color:rgb(44, 167, 216);
    font-size:20px;
    font-family:monospace;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButton:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.myButton:active {
	position:relative;
	top:1px;
}
